<%= form_with model: @docket, local: true do |form| %>

  <% if @docket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@docket.errors.count, "error") %>
        prohibited this docket from being saved:
      </h2>
      <ul>
        <% @docket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :start %>
    <%= form.date_field :start, :class => 'form-control', :placeholder => Date.today %>
  </div>

  <div class="form-group">
    <%= form.label :end %><br>
    <%= form.date_field :end, :class => 'form-control', :placeholder => Date.today %>
  </div>
  
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, :class => 'form-control', :placeholder => 'Exciting!' %>
  </div>
  
  <%= form.submit 'Create docket', :class => 'btn btn-primary' %>
<% end %>
