<h1>New Docket</h1>

<%= form_with model: @docket, local: true do |form| %>

  <% if @docket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@docket.errors.count, "error") %>
        prohibited this docket from being saved:
      </h2>
      <ul>
        <% @docket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :start %><br>
    <%= form.date_field :start %><br><br>

    <%= form.label :end %><br>
    <%= form.date_field :end %><br><br>
  </p>
  
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
