<h1>New Docket</h1>

<%= form_with scope: :docket, url: dockets_path, local: true do |form| %>
  <p>
    <%= form.label :start %><br>
    <%= form.date_field :start %><br><br>

    <%= form.label :end %><br>
    <%= form.date_field :end %><br><br>
  </p>
  
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', dockets_path %>