<% colors = %w(#C03FB0 #FF7453 #41C677 #D5F751 #D463C6 #FF9177 #65D894 #EAFCA2) %>
<% colors = %w(#8F6BAF #298A4A #592C7F #BC7D38 #411765 #126E31 #BA9FD2 #965A19) %>
<%= form_with model: @docket, local: true do |form| %>
  <% if @docket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@docket.errors.count, "error") %>
        prohibited this docket from being saved:
      </h2>
      <ul>
        <% @docket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="edit-docket" class="form-row">
    <div class="col-4">
      <%= form.date_field :start, :class => 'form-control', :value => @docket.start %>
    </div>
    <div class="col-4">
      <%= form.date_field :end, :class => 'form-control', :placeholder => @docket.end %>
    </div>
    <div class="col-auto">
      <%= form.submit 'Change docket', :class => 'btn btn-primary' %>
    </div>
  </div>
  
  <div id="edit-docket-plans" class="form-row form-check form-check-inline">
    <%= form.fields_for :plans do |pf| %>
      <% current_user.plans.each do |plan| %>
      <div class="form-group form-check">
        <%= check_box_tag "docket[plans][]", plan.id, (@docket.plans.include? plan), :class => "form-check-input", :id => "cb#{plan.id}" %>
        <%= label_tag "cb#{plan.id}", plan.title, class: "form-check-label", style: "padding:0.2em 0.75em;border-radius:10%;background-color:#{colors[plan.hash % colors.count]}"  do
        "#{link_to plan.title, plan_path(plan)}".html_safe
        end %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>



<table class="table">  
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">W</th>
      <th scope="col">Mo</th>
      <th scope="col">Tu</th>
      <th scope="col">We</th>
      <th scope="col">Th</th>
      <th scope="col">Fr</th>
      <th scope="col">Sa</th>
      <th scope="col">Su</th>
    </tr>
  </thead>
  <tbody>
    <% first = true %>
    <% events = @docket.events %>
        
    <% (@docket.weeks).each do |week|%>
    <tr>
      <th scope="row">
        <% if first or week.first.month != week.last.month %>
          <%= week.last.strftime('%B')%>
          <% first = false %>
        <% end %>
      </th>
      <td><%= week.first.strftime('%W') %></td>
      <% week.each do |day| %>
        <% if events.any?{|e| e.is_on? day }%>
          <% events_for_the_day = events.find_all{|e| e.is_on? day} %>
          <td class="<%= 'other' if day.month.odd? %> has-event">
            <div style="position:relative;top:-0.75em;left:-0.75em;width:calc(100% + 1.5em);height:0;overflow:visible;z-index:1">
            <% events_for_the_day.each_with_index do |e, idx|%>
              <% anchor_date_end   = e.end || e.start %>
              <div style="display:none">
                <%= anchor_date_end %><br>
                <%= (anchor_date_end - day).to_i %>
                <%= if e.lead_days && e.lead_days != 0 then (e.lead_days - (anchor_date_end - day)) / e.lead_days end %>
              </div>
              <% pressure = if e.lead_days && e.lead_days != 0 then (e.lead_days.to_f - (anchor_date_end - day)) / e.lead_days.to_f else 1.0 end %>
              <% pressure = (pressure * 15).to_i %>
              <div style="width:100%;height:<%= if pressure == 0 then 1 else pressure end %>px;background-color:<%= colors[e.plan.hash % colors.count]%>;padding-bottom:1px;border-bottom:1px solid white;box-sizing:content-box;">&nbsp;</div>
            <% end %>
            </div>
            <a 
              tabindex="0"
              role="button"
              data-toggle="popover"
              data-trigger="focus"
              title="Events on this day"
              data-placement="top"
              data-content="<%= events_for_the_day.map{|e| "#{e.plan.title}: #{e.title}"}.join(', ')%>"
              style="position:relative;z-index:2;"
              >
            <%= day.strftime('%d') %></td>
        <% else %>
          <td 
            class="<%= 'other' if day.month.odd? %>">
            <%= day.strftime('%d') %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>