<h1>Plan: <%= @plan.title %></h1>

<h2>Events</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @plan.events %>
    
    <tr>
      <td colspan="4">
        <%= render 'events/form'%>
      </td>
    </tr>
  </tbody>
</table>
  
<%= link_to 'Edit', edit_plan_path(@plan) %>
<%= link_to 'Back', root_path %>
