<!DOCTYPE html>
<html>
  <head>
    <title>DenseDocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Dense Dockets</a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div 
        class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% current_user.dockets.sort{|a,b| a.updated_at <=> b.updated_at}.reverse.take(3).each do |docket| %>
            <li class="nav-item">
              <%= link_to docket.title, docket_path(docket), :class => 'nav-link' %>
            </li>
          <% end %>
          <% current_user.plans.sort{|a,b| a.updated_at <=> b.updated_at}.reverse.take(3).each do |plan| %>
            <li class="nav-item">
              <%= link_to plan.title, plan_path(plan), :class => 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a href="#"
              class="nav-link dropdown-toggle"
              id="navbarDropdown" 
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <%= if user_signed_in? then current_user.email else 'Account' end %></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'dropdown-item'  %>
              <div class="dropdown-divider"></div>
              <%= link_to "Login", new_user_session_path, :class => 'dropdown-item'  %>
            <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
        
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
